<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Chat With STOMP Message</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/layui/lay/modules/layer.js}"></script>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <link th:href="@{/layui/css/modules/layer/default/layer.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <style type="text/css">
        #connect-container {
            margin: 0 auto;
            width: 550px;
        }

        #connect-container div {
            padding: 5px;
            margin: 0 7px 10px 0;
        }

        .message input {
            padding: 5px;
            margin: 0 7px 10px 0;
        }

        .layui-btn {
            display: inline-block;
        }
    </style>
</head>
<body>
<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websockets rely on Javascript being
        enabled. Please enable Javascript and reload this page!</h2>
</noscript>
<div>
    <div id="connect-container" class="layui-elem-field">
        <legend>Chat With STOMP Message</legend>
        <div>
            <input id="target" type="text" class="layui-input" size="40" style="width: 500px" value="/point"/>
        </div>
        <div>
            <button id="connect" class="layui-btn layui-btn-normal" onclick="connect();">Connect</button>
            <button id="disconnect" class="layui-btn layui-btn-normal layui-btn-disabled" disabled="disabled"
                    onclick="disconnect();">Disconnect
            </button>
        </div>
        <div class="message">

            <input id="roomId" type="text" class="layui-input" size="40" style="width: 500px" placeholder="房间号"
                   value="0"/>
            <input id="sender" type="text" class="layui-input" size="40" style="width: 500px" placeholder="发送者姓名"
                   value="admin"/>
            <input id="receiver" type="text" class="layui-input" size="40" style="width: 500px" placeholder="接收者姓名"
                   value="test"/>
            <input id="destination" type="text" class="layui-input" size="40" style="width: 500px" placeholder="目的地"
                   value="entire"/>
            <input id="type" type="text" class="layui-input" size="40" style="width: 500px" placeholder="类型"
                   value="system"/>
            <input id="message" type="text" class="layui-input" size="40" style="width: 500px" placeholder="消息内容"
                   value="admin发送的消息"/>
        </div>
        <div>
            <button id="topic" class="layui-btn layui-btn-normal layui-btn-disabled" disabled="disabled"
                    onclick="sendTopic();">sendTopic
            </button>
            <button id="app" class="layui-btn layui-btn-normal layui-btn-disabled" disabled="disabled"
                    onclick="sendApp();">sendApp
            </button>
            <button id="sendToUser" class="layui-btn layui-btn-normal layui-btn-disabled" disabled="disabled"
                    onclick="sendToUser();">sendToUser
            </button>
        </div>
        <div class="row">
            <button id="clear" class="layui-btn layui-btn-normal layui-btn-disabled" disabled="disabled"
                    onclick="clearGreeting();">clear
            </button>
            <div class="col-md-12">
                <table id="conversation" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Greetings:</th>
                    </tr>
                    </thead>
                    <tbody id="greetings">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var stompClient = null;

    $(function () {
        var target = $("#target");
        if (window.location.protocol === 'http:') {
            target.val('http://' + window.location.host + target.val());
        } else {
            target.val('https://' + window.location.host + target.val());
        }
    });

    function setConnected(connected) {
        var connect = $("#connect");
        var disconnect = $("#disconnect");
        var user = $("#user");
        var topic = $("#topic");
        var app = $("#app");
        var sendToUser = $("#sendToUser");
        var clear = $("#clear");

        if (connected) {
            connect.addClass("layui-btn-disabled");
            disconnect.removeClass("layui-btn-disabled");
            user.removeClass("layui-btn-disabled");
            topic.removeClass("layui-btn-disabled");
            app.removeClass("layui-btn-disabled");
            sendToUser.removeClass("layui-btn-disabled");
            clear.removeClass("layui-btn-disabled");
        } else {
            connect.removeClass("layui-btn-disabled");
            disconnect.addClass("layui-btn-disabled");
            user.addClass("layui-btn-disabled");
            topic.addClass("layui-btn-disabled");
            app.addClass("layui-btn-disabled");
            sendToUser.addClass("layui-btn-disabled");
            clear.addClass("layui-btn-disabled");
        }

        connect.attr("disabled", connected);
        disconnect.attr("disabled", !connected);
        user.attr("disabled", !connected);
        topic.attr("disabled", !connected);
        app.attr("disabled", !connected);
        sendToUser.attr("disabled", !connected);
        clear.attr("disabled", !connected);
    }

    //连接
    function connect() {
        var roomId = $("#roomId").val();
        var target = $("#target").val();

        var ws = new SockJS(target);
        stompClient = Stomp.over(ws);

        stompClient.connect({}, function () {
            setConnected(true);
            log('Info: STOMP connection opened.');

            //连接成功后，主动拉取未读消息
            pullUnreadMessage();

            //订阅服务端的 /topic/entire 地址
            stompClient.subscribe("/topic/entire", function (response) {
                showGreeting("/topic/entire:" + response.body);
            });

            //订阅服务端的 /topic/entire 地址
            stompClient.subscribe("/topic/entire/" + roomId, function (response) {
                showGreeting("/topic/entire/{roomId}:" + response.body);
            });

            //订阅服务端的 /topic/online 地址
            stompClient.subscribe("/topic/online/" + roomId, function (response) {
                showGreeting("/topic/online/{roomId}:" + response.body);
            });

            stompClient.send("/app/online/" + roomId);

            //订阅服务端的 /user/queue/single 地址
            stompClient.subscribe("/user/queue/single", function (response) {
                showGreeting("/user/queue/single:" + response.body);
            });
        }, function () {
            //断开处理
            setConnected(false);
            log('Info: STOMP connection closed.');
        });
    }

    //断开连接
    function disconnect() {
        if (stompClient != null) {
            stompClient.disconnect();
            stompClient = null;
        }
        setConnected(false);
        clearGreeting()
        sendApp();

        log('Info: STOMP connection closed.');
    }

    //群发消息
    function sendApp() {
        var sender = $("#sender").val();
        var receiver = $("#receiver").val();
        var type = $("#type").val();
        var destination = "/app/" + $("#destination").val();
        var msg = $("#message").val();

        stompClient.send(destination, {}, JSON.stringify({
            "sender": sender,
            "receiver": receiver,
            "type": type,
            "destination": destination,
            "msg": msg
        }));
    }

    // 群发消息
    function sendTopic() {
        var sender = $("#sender").val();
        var receiver = $("#receiver").val();
        var type = $("#type").val();
        var destination = "/topic/" + $("#destination").val();
        var msg = $("#message").val();

        stompClient.send(destination, {}, JSON.stringify({
            "sender": sender,
            "receiver": receiver,
            "type": type,
            "destination": destination,
            "msg": msg
        }));
    }

    //向指定用户发送消息
    function sendToUser() {
        if (stompClient != null) {
            var sender = $("#sender").val();
            var receiver = $("#receiver").val();
            var type = $("#type").val();
            var destination = "/queue/" + $("#destination").val();
            var msg = $("#message").val();

            $.ajax({
                url: "/message/sendToUser",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                async: true,
                data: JSON.stringify({
                    "sender": sender,
                    "receiver": receiver,
                    "type": type,
                    "destination": destination,
                    "msg": msg
                }),
                success: function (data) {
                    if (data.result != null) {
                        $.each(data.result, function (i, item) {
                            log(JSON.parse(item).content);
                            showGreeting(JSON.parse(item).content);
                        })
                    } else if (data.code != null && data.code == "500") {
                        layer.msg(data.msg, {
                            offset: 'auto'
                            , icon: 2
                        });
                    }
                }
            });
        } else {
            layer.msg('STOMP connection not established, please connect.', {
                offset: 'auto'
                , icon: 2
            });
        }
    }

    //从服务器拉取未读消息
    function pullUnreadMessage() {
        $.ajax({
            url: "/message/pullUnreadMessage",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            async: true,
            success: function (data) {
                if (data.result != null) {
                    $.each(data.result, function (i, item) {
                        log(JSON.parse(item).content);
                        showGreeting(JSON.parse(item).content);
                    })
                } else if (data.code != null && data.code == "500") {
                    layer.msg(data.msg, {
                        offset: 'auto'
                        , icon: 2
                    });
                }
            }
        });
    }

    // 显示
    function showGreeting(message) {
        $("#greetings").append("<tr><td>" + message + "</td></tr>");
    }

    // 清空
    function clearGreeting() {
        $("#greetings").html('');
    }

    //日志输出
    function log(message) {
        console.debug(message);
    }
</script>
</body>
</html>
