<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Chat With STOMP Message</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/layui/lay/modules/layer.js}"></script>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <link th:href="@{/layui/css/modules/layer/default/layer.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <style type="text/css">
        #connect-container {
            margin: 0 auto;
            width: 550px;
        }

        #connect-container div {
            padding: 5px;
            margin: 0 7px 10px 0;
        }

        .message input {
            padding: 5px;
            margin: 0 7px 10px 0;
        }

        .layui-btn {
            display: inline-block;
        }
    </style>
</head>
<body>
<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websockets rely on Javascript being
        enabled. Please enable Javascript and reload this page!</h2>
</noscript>
<div>
    <div id="connect-container" class="layui-elem-field">
        <legend>Chat With STOMP Message</legend>
        <div>
            <input id="target" type="text" class="layui-input" size="40" style="width: 500px" value="/point"/>
        </div>
        <div>
            <button id="connect" class="layui-btn layui-btn-normal" onclick="connect();">Connect</button>
            <button id="disconnect" class="layui-btn layui-btn-normal layui-btn-disabled" disabled="disabled"
                    onclick="disconnect();">Disconnect
            </button>
        </div>
        <div class="message">
            <input id="sender" type="text" class="layui-input" size="40" style="width: 500px" placeholder="发送者姓名"
                   value="admin"/>
            <input id="receiver" type="text" class="layui-input" size="40" style="width: 500px" placeholder="接收者姓名"
                   value="test"/>
            <input id="destination" type="text" class="layui-input" size="40" style="width: 500px" placeholder="目的地"
                   value="/topic/system"/>
            <input id="message" type="text" class="layui-input" size="40" style="width: 500px" placeholder="消息内容"
                   value="admin发送的消息"/>
            <input id="type" type="text" class="layui-input" size="40" style="width: 500px" placeholder="类型"
                   value="system"/>
        </div>
        <div>
            <button id="user" class="layui-btn layui-btn-normal layui-btn-disabled" disabled="disabled"
                    onclick="sendUser();">SendUser
            </button>
            <button id="topic" class="layui-btn layui-btn-normal layui-btn-disabled" disabled="disabled"
                    onclick="sendTopic();">sendTopic
            </button>
            <button id="app" class="layui-btn layui-btn-normal layui-btn-disabled" disabled="disabled"
                    onclick="sendApp();">sendApp
            </button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="conversation" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Greetings:</th>
                    </tr>
                    </thead>
                    <tbody id="greetings">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var stompClient = null;

    $(function () {
        var target = $("#target");
        if (window.location.protocol === 'http:') {
            target.val('http://' + window.location.host + target.val());
        } else {
            target.val('https://' + window.location.host + target.val());
        }
    });

    function setConnected(connected) {
        var connect = $("#connect");
        var disconnect = $("#disconnect");
        var echo = $("#echo");

        if (connected) {
            connect.addClass("layui-btn-disabled");
            disconnect.removeClass("layui-btn-disabled");
            echo.removeClass("layui-btn-disabled");
        } else {
            connect.removeClass("layui-btn-disabled");
            disconnect.addClass("layui-btn-disabled");
            echo.addClass("layui-btn-disabled");
        }

        connect.attr("disabled", connected);
        disconnect.attr("disabled", !connected);
        echo.attr("disabled", !connected);
    }

    //连接
    function connect() {
        var userId = "admin"

        var target = $("#target").val();

        var ws = new SockJS(target);
        stompClient = Stomp.over(ws);


        stompClient.connect({}, function () {
            setConnected(true);
            log('Info: STOMP connection opened.');

            //连接成功后，主动拉取未读消息
            pullUnreadMessage("/topic/reply");

            //订阅服务端的/topic/response地址
            stompClient.subscribe("/topic/response", function (response) {
                showGreeting("/topic/response:" + response.body);
            });

            //订阅服务端的/topic/system地址
            stompClient.subscribe("/topic/system", function (response) {
                showGreeting("/topic/system:" + response.body);
            });

            //订阅服务端的/topic/system/{userId}地址
            stompClient.subscribe("/topic/system/" + userId, function (response) {
                showGreeting("/topic/system/{userId}:" + response.body);
            });

            //订阅服务端的/topic/page地址
            stompClient.subscribe("/topic/page", function (response) {
                showGreeting("/topic/page:" + response.body);
            });

            //订阅服务端的/topic/page/{userId}地址
            stompClient.subscribe("/topic/page" + userId, function (response) {
                showGreeting("/topic/page/{userId}:" + response.body);
            });

            //订阅服务端的/topic/pointer地址
            stompClient.subscribe("/topic/pointer", function (response) {
                showGreeting("/topic/pointer:" + response.body);
            });

            //订阅服务端的/topic/pointer/{userId}地址
            stompClient.subscribe("/topic/pointer" + userId, function (response) {
                showGreeting("/topic/pointer/{userId}:" + response.body);
            });


        }, function () {
            //断开处理
            setConnected(false);
            log('Info: STOMP connection closed.');
        });
    }

    //断开连接
    function disconnect() {
        if (stompClient != null) {
            stompClient.disconnect();
            stompClient = null;
        }
        setConnected(false);
        log('Info: STOMP connection closed.');
    }

    function sendUser() {
        var sender = $("#sender").val();
        var receiver = $("#receiver").val();
        var msg = $("#message").val();
        var destination = $("#destination").val();
        log('Sent: ' + JSON.stringify({'receiver': receiver, 'msg': msg}));

        // 客户端消息发送的目的：服务端使用BroadcastCtl中@MessageMapping("/receive-single")注解的方法来处理发送过来的消息
        stompClient.send(destination, {}, JSON.stringify({"sender": sender, "receiver": receiver, "msg": msg}));
        showGreeting(msg);
    }

    function sendApp() {
        var sender = $("#sender").val();
        var receiver = $("#receiver").val();
        var msg = $("#message").val();
        var type = $("#type").val();
        var destination = $("#destination").val();
        log('Sent: ' + JSON.stringify({'receiver': receiver, 'msg': msg}));

        // 客户端消息发送的目的：服务端使用BroadcastCtl中@MessageMapping("/receive-single")注解的方法来处理发送过来的消息
        stompClient.send(destination, {}, JSON.stringify({"type": type, "data": msg}));
        showGreeting(msg);
    }

    function sendTopic() {
        var sender = $("#sender").val();
        var receiver = $("#receiver").val();
        var msg = $("#message").val();
        var type = $("#type").val();
        var destination = $("#destination").val();
        log('Sent: ' + JSON.stringify({'receiver': receiver, 'msg': msg}));

        // 客户端消息发送的目的：服务端使用BroadcastCtl中@MessageMapping("/receive-single")注解的方法来处理发送过来的消息
        stompClient.send(destination, {}, JSON.stringify({"type": type, "data": msg}));
        showGreeting(msg);
    }

    //从服务器拉取未读消息
    function pullUnreadMessage(destination) {
        $.ajax({
            url: "/message/pullUnreadMessage",
            type: "POST",
            dataType: "json",
            async: true,
            data: {
                "destination": destination
            },
            success: function (data) {
                if (data.result != null) {
                    $.each(data.result, function (i, item) {
                        log(JSON.parse(item).content);
                        showGreeting(JSON.parse(item).content);
                    })
                } else if (data.code != null && data.code == "500") {
                    layer.msg(data.msg, {
                        offset: 'auto'
                        , icon: 2
                    });
                }
            }
        });
    }

    // 显示
    function showGreeting(message) {
        $("#greetings").append("<tr><td>" + message + "</td></tr>");
    }

    //日志输出
    function log(message) {
        console.debug(message);
    }
</script>
</body>
</html>
